body {
    background-image: 20484908.png;
}

.cabecalho{
    display: flex;
    background-image: url("Retângulo\ 1.png");
    width: 1850px;
    height: 100px;
    margin-left: -17px;



}

.main{
    margin-right: -20px;
    margin-left: -20px;
    background-image: url("20484908.png");
    width: 1850px;
    height: 852px;

}